@import '../../../../assets/styles/rem';

.container__media {
  width: 100%;
  background: url("https://occ-0-358-360.1.nflxso.net/art/918c6/7b8d6dc0b3d5a9f0665a4764c87517c7609918c6.webp") no-repeat;
  background-size: cover;
  box-shadow: inset 0px -98px 43px -32px #333232;
}

.ageRecomendation {
  position: absolute;
  right: 0;
  top: 16vh;
  width: rem(85px);
  height: 2.4vw;
  background-color: rgba(51, 51, 51, 0.637);
  color: white;
  font-size: var(--font-size-base);
  font-weight: bold;
  border-left: 3px solid #dcdcdc;
  padding: .5vw 3.5vw .5vw .8vw;
  display: flex;
  align-items: center;
}


.information {
  height: 50vw;
  width: 100%;
  padding: rem(20px 0 12px 55px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin-top: 2vw;
    color: white;
    font-size: var(--font-size-base);
    font-weight: bold;
  }
}

.information__logo {
  margin-top: 5vw;
  padding-top: 0;
  width: 33vw;

 
}

/************* buttons group *******************************/
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  margin-right: rem(15px);
  padding: rem(10px 15px);
  width: rem(165px);
  height: rem(40px);
  border: none;
  border-radius: .2vw;
  background-color: rgba(0, 0, 0, 0.308);
  color: white;
  cursor: pointer;
  font-size: var(--font-size-base);
  font-weight: bold;
}

.btn--play {
  &:hover {
    color: rgb(41, 41, 41);
    background-color: #e6e6e6ad;

    & svg {
      fill: rgb(41, 41, 41);
    }
  }

  svg {
    fill: white;
    height: rem(17px);
    width: rem(17px);
    margin-right: rem(10px);
  }
}



.btn--mylist {

  width: rem(150px);

  &:hover {
    color: rgb(41, 41, 41);
    background-color: #e6e6e6ad;

    & svg {
      fill: rgb(41, 41, 41);
    }
  }

  svg {
    fill: white;
    display: inline-block;
    margin-right: 10px;
    height: rem(17px);
    width: rem(17px);
  }
}



/************************************
BLOQUE VIDEO
********************************/
.video {

  z-index: -9;
  position: absolute;
  right: rem(0px);
  bottom: 0;
  top: 0;
  height: 37vw;
  width: 90%;
  box-shadow: inset 152px -35px 31px 13px rgb(0, 0, 0);
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  height: 35px;
  width: 35px;
  margin: 2px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  .svgclose {
    fill: white;
  }
}

.mute {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 35px;
  width: 35px;
  margin: 50px 20px;
  background-color: rgba(2, 2, 2, 0.925);
  ;
  border: 1px solid white;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: all .1s linear;
  }

  svg {
    fill: white;
  }
}
