<div class="container">
<img class="logo" src="../../../../assets/images/logo-narcos.webp" alt="">

<div class="detalles-container">
 
      <div class="list">
        <ul>
          <li class="list__label"><span>Creada por</span></li>
          <li><a href="">Chris Brancato</a></li>
          <li><a href="">Carlo Bernard</a></li>
          <li><a href="">Doug Miro</a></li>          
          <li class="list__label"><span>Reparto</span></li>
          <li><a href="">Wagner Moura</a></li>
          <li><a href="">Pedro Pascal</a></li>
          <li><a href="">Boyd Holbrook</a></li>
          <li><a href="">Damián Alcázar</a></li>
          <li><a href="">Alberto Ammann</a></li>
          <li><a href="">Francisco Denis</a></li>
          <li><a href="">Pepe Rapazote</a></li>
          <li><a href="">Matias Varela</a></li>
          <li><a href="">Michael Stahl-David</a></li>
          <li><a href="">Matt Whelan</a></li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li class="list__label"><span>Reparto</span></li>
          <li><a href="">Arturo Castro</a></li>
          <li><a href="">Javier Cámara</a></li>
          <li><a href="">José María Yazpik</a></li>
          <li><a href="">Eric Lange</a></li>
          <li><a href="">rett Cullen</a></li>
          <li><a href="">Miguel Ángel Silvestre</a></li>
          <li><a href="">Kerry Bishé</a></li>
          <li><a href="">Paulina Gaitán</a></li>
          <li><a href="">Cristina Umaña</a></li>
          <li><a href="">Paulina Garcia</a></li>
          <li><a href="">Juan Sebastián Calero</a></li>
          <li><a href="">Joanna Christie</a></li>
          <li><a href="">Taliana Vargas</a></li>
          <li><a href="">Andrea Londo</a></li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li class="list__label"><span>Reparto</span></li>
          <li><a href="">Manolo Cardona</a></li>
          <li><a href="">Diego Cataño</a></li>
          <li><a href="">Raúl Méndez</a></li>
          <li><a href="">Bruno Bichir</a></li>
          <li><a href="">Stephanie Sigman</a></li>
          <li><a href="">Florencia Lozano</a></li>
          <li><a href="">Juan Pablo Raba</a></li>
          <li><a href="">Leynar Gomez</a></li>
          <li><a href="">Konstantin Melikhov</a></li>
          <li><a href="">Martina García</a></li>
          <li><a href="">Maurice Compte</a></li>
          <li><a href="">Mauricio Cujar</a></li>
          <li><a href="">Jorge Monterrosa</a></li>
          <li><a href="">Germán Jaramillo</a></li>
        </ul>
      </div>
       <div class="list">
        <ul>
          <li class="list__label"><span>Reparto</span></li>
          <li><a href="">Juan Pablo Shuk</a></li>
          <li><a href="">Julián Díaz</a></li>
          <li><a href="">Alejandro Buitrago</a></li>
          <li><a href="">Federico Rivera</a></li>
        </ul>
      </div>
   
    

</div>
</div>