
.container {
  display: flex;  
  position: relative;
  padding: 0 45px;

}

.slide-carousel{
  display: flex;
  overflow: hidden;
}


.moveLeft { 
  position: absolute;
  left: -24px;
  top: 21%;
  width: 50px;
  margin: auto 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.moveRight{
  position: absolute;
  right: -10px;
    top: 21%;
  width: 50px;
  margin: auto 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.svgleftarrow{
  fill: white;
  transition: all .1s linear;
  
  &:hover{
   transform: scale(1.4);
   transition: all .1s linear;
  }
}

.svgrightarrow {
  fill: white;
  
  transition: all .1s linear;
  
  &:hover{
   transform: scale(1.4);
   transition: all .1s linear;
  }
}

.toTheRight{
  margin-left:-500px;
  transition:1s;
}











