/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/reset";
@import "./assets/styles/variables";
@import "./assets/styles/fonts";


body{
  background: linear-gradient(to bottom, rgb(71, 70, 70) 0%,rgb(51, 50, 50) 50%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;  
  padding-bottom: 150px;
overflow-x: hidden;
}

button, a {
  outline: none;
  cursor: pointer;
}